body {
  background: #181a20 !important;
  color: #212121 !important;
  font-family: 'Segoe UI', 'Roboto', Arial, sans-serif;
}

/* General elements */
input, button, select, textarea {
  background: #23242b;
  color: #eee;
  border: 1px solid #444;
  border-radius: 5px;
  padding: 0.4em 0.7em;
  font-size: 1em;
}

input:focus, button:focus, select:focus, textarea:focus {
  outline: 2px solid #845ef7;
  background: #23242b;
}

/* Table styling */
table {
  background: #222;
  color: #fafafa;
  border-radius: 7px;
}

th, td {
  border-bottom: 1px solid #393939;
}

th {
  background: #23242b;
}

svg {
  background: #23242b !important;
  border-radius: 10px;
}

h1, h2, h3, h4 {
  color: #f3dc85;
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 12px;
  background: #23242b;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #845ef7;
}

/* Tooltips */
.graph-tooltip {
  background: #181a20 !important;
  color: #efe790 !important;
  border: 1px solid #845ef7 !important;
}
